@value backgroundBlue: #4a90e2;
@value backgroundOrange: #f5a523;
@value textColor: #fff;

:global(#aviasales-widget){
	min-width: 200px;
  	max-width: 1024px;
  	color: textColor;
  	background-color: backgroundBlue;
  	padding: 7px;
  	font-family: "Open Sans", "Helvetica";
}


.header{
  	margin: 5px 14px 0 14px;
  	font-size: 24px;
}

.header>*{
	display: inline-block;
	margin: 0;
}


.content, .form{
	display: flex;
	flex-wrap: wrap;
}

.description{
	margin: 10px 14px;
	box-sizing: border-box;
	flex: 1 1 205px;
}

.description p{
  	font-size: 10px;
  	margin: 0;
}

.form{
	flex: 1 1 550px;
}

.form > *{
	flex: 1 1 50px;
}


.button{
	padding: 0;
	margin:  7px 14px;
	height:41px;
	border: none;
	flex: 1 1 140px;
}

.button button, .dateInput input{
	border-radius: 3px;
	border: none;
	height: 100%;
	width: 100%;
}

.button button{
	background-color: backgroundOrange;
	color: textColor;
	text-transform: uppercase;
}

.dateInput{
	height: 41px;
	margin: 7px 14px;
	flex: 1 1 110px;
	font-style: inherit;
	position: relative;
	background: #fff;
}

.dateInput input{
	box-sizing: border-box;
	padding: 5px 10px;
	min-width: 0;
	font-style: inherit;
	z-index: 1;
	position: relative;
	background: transparent;
}

.dateInput svg{
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 0;
}


.aviasalesWidgetSmall .header{
  	font-size: 18px;
  	margin-bottom: 10px;
}

.aviasalesWidgetSmall .description{
	order: 2;
	margin-top: 5px;
}