.aviasalesWidget{
	min-width: 200px;
  	max-width: 1024px;
  	color: #fff;
  	background-color: #4a90e2;
  	padding: 7px;
  	font-family: Helvetica;
}



.header{
  	margin: 5px 14px 0 14px;
}

.header>*{
	display: inline-block;
	margin: 0;
}


.flexContentFirst{
	display: flex;
	flex-wrap: wrap;
}

.flexContentSecond{
	display: flex;
	flex-wrap: wrap;
}


.flexContentSecond{
	flex-basis: 550px;
	flex-shrink: 1;
	flex-grow: 1;
}

.description{
	margin: 10px 14px;
	box-sizing: border-box;
	flex-basis: 205px;
	flex-grow: 1;
	flex-shrink: 1;
}

.description p{
  	font-size: 10px;
  	margin: 0;
}


.flexContentSecond>*{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 50px;
}


.button{
	padding: 0;
	margin:  7px 14px;
	height:41px;
	border: none;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 140px;
}

.button button{
	background-color: #f5a523;
	border-radius: 3px;
	color: inherit;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
}

.dateInput{
	height: 41px;
	margin: 7px 14px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 110px;
	font-style: inherit;
	position: relative;
}

.dateInput input{
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 0 15px;
	min-width: 0;
	font-style: inherit;
}

.dateInput svg{
	position: absolute;
	right: 10px;
	top: 12px;
}

.descriptionOrderBotttom{
	order: 2;
	margin-top: 5px;
}